<div class="submenu">
    <div class="input-group ">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrar por:</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" id="1" (click)="changeFilter($event)">Disponibilidad</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" id="2" (click)="changeFilter($event)">Rango de Precios</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" id="3" (click)="changeFilter($event)">Cantidad en Stock</a>
            
          </div>
        </div>       
    </div> 

    <select (change)="order($event)" class="form-control order ">
        <option>Ordenar por:</option>
        <option value="1">Precio</option>
        <option value="2">Disponibilidad</option>
        <option value="3">Cantidad</option>
      </select>
</div>
<div class= "container">  
    <div class="container-products">      
        <div *ngFor="let product of productsFilter" class="card" >
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{product.available}}</h6>
                  <p class="card-text">{{product.id}}</p>
                  <a href="#" class="card-link">{{product.quantity}}</a>
                  <a href="#" class="card-link">{{product.price}}</a>
                </div>
        </div>         
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filtrar productos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-check">
              <div id="availables-container" [ngClass]="displayavailable">

                  <div>
                      <input class="form-check-input" (change)="filter($event)" type="radio" name="exampleRadios" id="exampleRadios1" value="0" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Todos
                      </label>
                  </div>

                  <div>
                      <input class="form-check-input" (change)="filter($event)" type="radio" name="exampleRadios" id="exampleRadios1" value=1 >
                      <label class="form-check-label" for="exampleRadios1">
                        Disponible
                      </label>    
                  </div>

                  <div>
                      <input class="form-check-input" (change)="filter($event)" type="radio" name="exampleRadios" id="exampleRadios1" value=2 >
                      <label class="form-check-label" for="exampleRadios1">
                        No Disponible
                      </label>    
                  </div>
                </div>

                <div id="priceContainer" [ngClass]="displayprice">                  
                  <div class="form-group">
                      <label for="precioinicial">Precio Inicial</label>
                      <input type="text" [(ngModel)]="valini" name="valini" class="form-control" id="precioinicial" aria-describedby="precioinicial" placeholder="Precio Inicial">                     
                  
                  </div>

                  <div class="form-group">
                      <label for="preciofinal">Precio Final</label>
                      <input type="text" [(ngModel)]="valfin" name="valfin" class="form-control" id="preciofinal" aria-describedby="preciofinal" placeholder="Precio Final">                     
                  
                  </div>

              </div>
               
               <div id="stockContainer" [ngClass]="displaystock">
                  <div class="form-group">
                      <label for="preciofinal">Cantidad Inicial</label>
                      <input type="text" [(ngModel)]="stockini" name="valfin" class="form-control" id="preciofinal" aria-describedby="preciofinal" placeholder="Precio Final">                  
                  
                  </div>

                  <div class="form-group">
                      <label for="preciofinal">Cantidad Final</label>
                      <input type="text" [(ngModel)]="stockfin" name="valfin" class="form-control" id="preciofinal" aria-describedby="preciofinal" placeholder="Precio Final">                  
                  
                  </div>
               </div>
                

               
                
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click) = "filterPrice()" [ngClass]="displayprice" class="btn btn-primary">Filtrar</button>
          <button type="button" (click) = "filterStock()" [ngClass]="displaystock" class="btn btn-primary">Filtrar</button>          
        </div>
      </div>
    </div>
  </div>
  